.root h1,
.root p {
	text-align: center;
	margin: 0;
}

.root p {
	line-height: 1.5;
	font-size: 16px;
}

.root {
	background: var(--theme-elevation-50);
	height: 100vh;
}

.root :global(.template-minimal__wrap) {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 600px !important;
	text-align: center;
	gap: 32px;
}

html[data-theme='dark'] .root {
	background: var(--theme-elevation-0);
}
